@charset "UTF-8";

/* Цвета */
$mainColor: #333;
$h2Color: #fd3c3d;
$resultColor: #fd3c3d;
$formulaColor: #ffffff;
$topColor: #ffffff;
$stepColor: #ffffff;
$btnColor: #000000;
$bntRoundColor: #ffffff;
$largeContainerColor: #ffffff;
$recalculateBtnColor: #616161;

$bntRoundShadowColor: #BFBFBF;

$bntRoundBorderColor: #ffffff;
$btnBorderColor: #fd3c3d;
$btnRecalculateBorderColor: #000000;
$inputBorderColor: #E2E2E2;
$stepAndOverallBorder: #DCDCDC;

$containerBackground: #fff;
$commonBackground: #fd3c3d;
$stepBodyBackground: #F5F5F5;
$stepHeaderBackground: #ffffff;

/* Шрифты */
$mainFontFamily: Montserrat, sans-serif;
